.header{
    padding: 0.5rem;
    background-color: rgb(87, 181, 218);
}
.header-title{
    color: rgb(31, 29, 29);
    text-align: center;
    
}
.search-field{
    border-radius: 5px;
    outline: none;
    padding:1rem;
}
.searchbtn{
    border-radius: 5px;
    outline: none;
    padding:1rem; 
} 
.hero{
    margin-bottom: 2rem;
    background-image: url("https://source.unsplash.com/1600x900/?landscape"); 
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}
 .searchContainer{
     padding-top: 2rem;
     }
.forecastText {
    font-size: 1.5rem;
    color: rgb(29, 28, 28);
}

