.header{
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: rgb(87, 181, 218);
}
.header-title{
    color: rgb(214, 209, 209);
    text-align: center;
}
.search-field{
    border-radius: 5px;
    outline: none;
    width: 90%;
    margin-left: 1rem;
}
.searchbtn{
    width: 60%;
    margin-left: 5rem;
    margin-top: 1rem;
}